{% extends "base.html" %}
{% block content %}
    <div class="welcome-container">
        this is about page
        <div class="row">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                thank you for visiting us
                <p>we are a team of developers who are passionate about creating a platform that helps people to take care of their mental health</p>
                <p>we believe that mental health is just as important as physical health and that it is crucial to take care of it</p>
                <p>any questions?</p>
                <p>please feel free to contact us at <a href="mailto:info@voicemymind.com">info@voicemymind.com</a></p>
                <p>or you can use the form below to send us a message</p>
            </div>
            <div class="col-12 col-md-4 col-lg-6 col-xl-7">
                <p>
                    we are a team of developers who are passionate about creating a platform that helps people to take care of their mental health
                </p>
            </div>
        </div>
    </div>
{% endblock %}