<h2>Addiction</h2>
<p>
  Addiction is a complex condition characterized by compulsive drug or substance
  use, despite harmful consequences. It is a chronic brain disease that affects
  the reward, motivation, and memory functions of the brain.
  <br />
  Common symptoms of addiction include an intense craving for the substance,
  loss of control over its use, and continued use despite negative consequences.
  It can lead to physical and psychological dependence, as well as social and
  financial problems.
  <br />
  Treatment for addiction often involves a combination of therapy, medication,
  and support groups. It's important to seek help if you or someone you know is
  struggling with addiction.
</p>
