{% extends "base.html" %} {% block content %}
<div class="show-wrapper">
  <h1>my journals</h1>
  <ul>
    {% for journal in user.journals|sort(reverse=True, attribute='timestamp') %}
    {% if journal %}
    <li>
      <h1>{{ journal.timestamp.strftime('%B %d, %Y %H:%M:%S') }}</h1>
      <h2>{{ journal.title }}</h2>
      <p>{{ journal.body }}</p>
      <a
        href="{{ url_for('views.update_journal', journal_id=journal.id) }}"
        class="btn-journal"
        >edit</a
      >
      <div>
        <img src="{{ journal.image_file }}" alt="Journal Image" />
      </div>
    </li>
    {% endif %} {% endfor %}
  </ul>
  {% endblock %}
</div>
