{% extends 'base.html' %} {% block title %}Calendar View{% endblock %} {% block
content %}

<div class="content-wrapper bg-light py-6">
  <h2>Calendar View</h2>
  {% for month_year, month_events in events.items() %}
  <h3>{{ month_year }}</h3>
  <table class="table table-striped">
    {% for event in month_events|sort(attribute='date', reverse=True) %}
    <tr>
      <td>{{ event.date }}</td>
      <td>{{ event.title or '(no title)' }}</td>
      <td>
        <a href="{{ event.url }}" class="btn btn-green-journal">Edit</a>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endfor %}
</div>
{% endblock %}
