{% extends "base.html" %} {% block title %}Welcome{% endblock %} {% block
content %}
<div class="content-wrapper">
  <h2>What is on your mind?</h2>
  <form method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <input
        type="text"
        name="title"
        id="title"
        class="form-control"
        style="height: 50px"
        placeholder="Enter title for your journal"
      />
    </div>
    <div class="form-group">
      <textarea
        name="body"
        id="body"
        class="form-control"
        style="height: 100px"
        placeholder="What's on your mind?"
      ></textarea>
    </div>
    <div class="mood-selector">
      <label class="mood-label">
        <input type="radio" name="mood" value="1" />
        <span class="mood-emoji">😞</span>
      </label>
      <label class="mood-label">
        <input type="radio" name="mood" value="2" />
        <span class="mood-emoji">🙁</span>
      </label>
      <label class="mood-label">
        <input type="radio" name="mood" value="3" />
        <span class="mood-emoji">😐</span>
      </label>
      <label class="mood-label">
        <input type="radio" name="mood" value="4" />
        <span class="mood-emoji">🙂</span>
      </label>
      <label class="mood-label">
        <input type="radio" name="mood" value="5" />
        <span class="mood-emoji">😆</span>
      </label>
    </div>
    <div class="form-group">
      <label for="image_file" class="form-label">upload a journal image</label>
      <input
        type="file"
        name="image_file"
        id="image_file"
        class="form-control form-control-lg"
        placeholder="Select image file"
      />
    </div>
    <button type="submit" class="btn-journal">Add journal entry</button>
  </form>
</div>
{% endblock %}
