{% extends "base.html" %} {% block content %}
<a href="{{ url_for('views.home') }}" class="btn btn-primary">home</a>
<h1>update my Journal List</h1>
{% for journal in user.journals|sort(reverse=True, attribute='timestamp') %}
Date Created: {{ journal.timestamp.strftime('%B %d, %Y %H:%M:%S') }}
<form
  method="POST"
  action="{{ url_for('views.update_journal', journal_id=journal.id) }}"
>
  <label>title</label> <input name="title" value="{{ journal.title }}" />
  <label>body</label> <textarea name="body">{{ journal.body }}</textarea>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
<form
  method="POST"
  action="{{ url_for('views.delete_journal', journal_id=journal.id) }}"
>
  <button type="submit" class="btn btn-danger">Delete</button>
</form>
{% endfor %} {% endblock %}
