{% extends "base.html" %} {% block title%} welcome {% endblock %} {% block
content %}
<div class="content-wrapper">
  <div class="row">
    <div class="col-md-6">
      <ul>
        <li>Promoting Mental Health Awareness</li>
        <li>Platform For Journal Taking</li>
      </ul>
      <img id="brand" src="static/images/brand.png" alt="VoiceMyMind" />
    </div>
    <div class="col-md-6">
      <img
        src="static/images/journalbook5.jpg"
        alt="journal book"
        width="80%"
        height="80%"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <h2>Get Started</h2>
      <h3>
        To start using Voice My Mind and unlock the benefits of mental health
        awareness and journal taking.
      </h3>
    </div>
    <div class="col-md-7">
      {% if not user.is_authenticated %}
      <h3>
        Take a few minutes to get started
        <a
          href="{{ url_for('auth.sign_up') }}"
          class="btn btn-outline-journal"
          style="font-size: 30px"
          >Sign Up</a
        >
      </h3>
      <h2>
        Already have an account?
        <a
          href="{{ url_for('auth.login') }}"
          class="btn btn-outline-journal"
          style="color: rgb(42, 165, 79); font-size: 30px"
          >Log In</a
        >
      </h2>
      {% endif %}
    </div>
  </div>
</div>
<div class="benefit-wrapper">
  <h2 class="font-size-25">Benefits of Voice My Mind</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h3 class="card-title font-size-20">Mental Health Awareness</h3>
          <p class="card-text font-size-18">
            VoiceMyMind aims to raise awareness about mental health and its
            importance in our lives. We provide resources, articles, and tips to
            help you understand and improve your mental well-being.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h3 class="card-title font-size-20">Journal Taking Ability</h3>
          <p class="card-text font-size-18">
            With VoiceMyMind, you can easily create and maintain a digital
            journal. Document your thoughts, feelings, and experiences in a safe
            and private space. Journaling can be a powerful tool for
            self-reflection, personal growth, and stress management.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h3 class="card-title font-size-20">User-Friendly Interface</h3>
          <p class="card-text font-size-18">
            Our web application features a user-friendly interface that makes it
            easy to navigate and use. Whether you're new to journaling or an
            experienced user, VoiceMyMind provides a seamless experience.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h3 class="card-title font-size-20">Secure and Private</h3>
          <p class="card-text font-size-18">
            We prioritize your privacy and security. Your journal entries are
            encrypted and stored securely, ensuring that your personal
            information remains confidential.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h3 class="card-title font-size-20">
            Community Support(Coming Soon)
          </h3>
          <p class="card-text font-size-18">
            Connect with journal taking individuals through our community
            forums. Share your experiences, seek advice, and provide support to
            others on their mental health journey.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h3 class="card-title font-size-20">Self Diagnosis(Coming Soon)</h3>
          <p class="card-text font-size-18">
            Self diagnosis will be easy to do and use as just part of the main
            objective of the application. Users will be able to take a test and
            get a diagnosis and then be able to track their progress and see how
            they are doing.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="team-wrapper bg-light py-6">
  <div class="container">
    <h1 class="text-center mb-5">Meet the Voice My Mind Team</h1>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="static/images/team1.jpg" class="card-img-top" alt="wase" />
          <div class="card-body">
            <h5 class="card-title">Dr. Wastna Alemayehu</h5>
            <p class="card-text">Co-Founder and CEO</p>
            <p class="card-text">
              Dr. Wastna is passionate about mental health advocacy and is the
              driving force behind Voice My Mind. He has a background in Medical
              degree and has extensive experience in the mental health industry.
            </p>
            <a
              href="https://www.linkedin.com/in/dr-wastna-alemayehu-b560a0165"
              target="_"
              class="btn btn-primary"
              >Learn More</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="static/images/CTO.jpg" class="card-img-top" alt="Wase" />
          <div class="card-body">
            <h5 class="card-title">Wase Alex</h5>
            <p class="card-text">Co-Founder and CTO</p>
            <p class="card-text">
              Wase is the technical mastermind behind Voice My Mind. He has a
              deep understanding of technology and is committed to creating a
              secure and user-friendly platform.
            </p>
            <a
              href="https://github.com/Wasealex"
              class="btn btn-primary"
              target="_"
              >Learn More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container md-5">
  <footer style="background-color: #deded5">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-3" style="letter-spacing: 2px; color: #818963">
            Voice my mind
          </h5>
          <p>
            Voice my mind is the best platform there is and yet it needs many
            improvment please share your thoughts and help improve my website.
          </p>
        </div>
        <div class="col-lg-5 col-md-5 mb-4">
          <h5 class="mb-3" style="letter-spacing: 2px; color: #818963">
            Links
          </h5>
          <ul class="list-unstyled mb-0">
            <li class="mb-1">
              <a
                style="color: #4f4f4f"
                id="create_journal"
                href="{{ url_for('views.create_journal') }}"
                >Create Journal</a
              >
              :> Creates your journal easily
            </li>
            <li class="mb-1">
              <a
                style="color: #4f4f4f"
                id="myjournal"
                href="{{ url_for('views.myjournal') }}"
                >Read Journal</a
              >
              :> You can easily read your journal
            </li>
            <li class="mb-1">
              <a
                style="color: #4f4f4f"
                id="healthtips"
                href="{{ url_for('auth.healthtips') }}"
                >Health Topics</a
              >
              :> Has different topics on Health
            </li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-6 mb-4"></div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2024 Copyright:
    </div>
  </footer>
</div>
{% endblock %}
